<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SAEW</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>com.sae.controller.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/LoginServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiagnosticoServlet</display-name>
    <servlet-name>DiagnosticoServlet</servlet-name>
    <servlet-class>com.sae.controller.DiagnosticoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiagnosticoServlet</servlet-name>
    <url-pattern>/DiagnosticoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PacienteServlet</display-name>
    <servlet-name>PacienteServlet</servlet-name>
    <servlet-class>com.sae.controller.PacienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PacienteServlet</servlet-name>
    <url-pattern>/PacienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiagnosticoExclusaoServlet</display-name>
    <servlet-name>DiagnosticoExclusaoServlet</servlet-name>
    <servlet-class>com.sae.controller.servelett.DiagnosticoExclusaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiagnosticoExclusaoServlet</servlet-name>
    <url-pattern>/DiagnosticoExclusaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiagnosticoActualizacaoServlet</display-name>
    <servlet-name>DiagnosticoActualizacaoServlet</servlet-name>
    <servlet-class>com.sae.controller.servelett.DiagnosticoActualizacaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiagnosticoActualizacaoServlet</servlet-name>
    <url-pattern>/DiagnosticoActualizacaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PacienteRelatorioServlet</display-name>
    <servlet-name>PacienteRelatorioServlet</servlet-name>
    <servlet-class>com.sae.controller.servelett.PacienteRelatorioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PacienteRelatorioServlet</servlet-name>
    <url-pattern>/PacienteRelatorioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntervencaoCadastroServlet</display-name>
    <servlet-name>IntervencaoCadastroServlet</servlet-name>
    <servlet-class>com.sae.controller.servelett.IntervencaoCadastroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntervencaoCadastroServlet</servlet-name>
    <url-pattern>/IntervencaoCadastroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvaliacaoDeIntervencaoCadastroServlet</display-name>
    <servlet-name>AvaliacaoDeIntervencaoCadastroServlet</servlet-name>
    <servlet-class>com.sae.controller.servelett.AvaliacaoDeIntervencaoCadastroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvaliacaoDeIntervencaoCadastroServlet</servlet-name>
    <url-pattern>/AvaliacaoDeIntervencaoCadastroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntervencaoExclusaoServlet</display-name>
    <servlet-name>IntervencaoExclusaoServlet</servlet-name>
    <servlet-class>com.sae.controller.servelett.IntervencaoExclusaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntervencaoExclusaoServlet</servlet-name>
    <url-pattern>/IntervencaoExclusaoServlet</url-pattern>
  </servlet-mapping>
</web-app>