@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:ital,wght@0,100;0,400;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    font-family: OpenSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    box-sizing: border-box;
}

body{
	background-image:url("../img/login.png");
	background-size:cover;
}

.parent{
	width:100vw;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	/*background-color:yellow;*/
}

.login-label{
	display:flex;
	padding-bottom:3px;
	color:#515151;
	font-weight:500;
}

.child-login{
	background-color:white;
	width:402px;
	padding:0px 40px;
	padding-bottom:45px;
	padding-top:30px;
	border:0.1px solid #ECECEC;
	box-shadow:20px 20px 20px red; /*boxshadow*/
}

.login-logo{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin-bottom:30px;
}

.login-logo img{
	width:120px; /*105*/
	height:auto;
}

.login-usuario input, .login-senha input{
	outline:none;
	font-size:16.5px;
	padding:9px;
	width:100%;
	/*border:1px solid #BBBBBB;*/
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	border-radius:3px;
	border:1px solid #3B81C7;
}

.login-senha input{
	letter-spacing:0.1ch;
}

.login-usuario{
	margin-bottom:15px;
}

.login-senha{
	margin-bottom:5px;
}

.login-link{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-bottom:45px;
}

.login-link a{
	color:#3B81C7;
}

.login-link a:hover{
	text-decoration:underline;
}

.login-submit div{
	display:flex;
	flex-direction:row;
}

.login-submit input{
	width:100%;
	background-color:#3B81C7;
	/*background-color:#5D6D7E;
	border:1px solid #5D6D7E;*/
	padding:15px 0px;
	border:none;
	font-weight:700;
	font-size:18px;
	color:white;
	cursor:pointer;
	border-radius:3px;
}

.login-submit{
	margin-bottom:20px;
}

.login-copy p{
	font-size:14.2px;
	color:#515151;
}

.login-copy a{
	color:#515151;
}

.login-copy a:hover{
	text-decoration:underline;
}
